<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.community.dao.NewMapper">

    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score,mode
    </sql>

    <sql id="insertFields">
        user_id, title, content, type, status, create_time, comment_count, score, mode,
    </sql>

    <select id="selectNews" resultType="New">
        select <include refid="selectFields"></include>
        from news
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
            order by type desc, create_time desc

        limit #{offset}, #{limit}
    </select>

    <select id="selectNewsByTime" resultType="New">
        select <include refid="selectFields"></include>
        from news
        where mode = 1
        <if test="userId!=0">
            and user_id = #{userId}
        </if>

        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectNewsBySports" resultType="New">
        select <include refid="selectFields"></include>
        from news
        where mode = 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>

        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectNewsByEntertainment1" resultType="New">
        select <include refid="selectFields"></include>
        from news
        where mode = 3
        <if test="userId!=0">
            and user_id = #{userId}
        </if>

        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectNewsByEntertainment" resultType="New">
        select <include refid="selectFields"></include>
        from news
        where mode = 3
        and status = 3
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostsByMode" resultType="Text">
        select <include refid="selectFields"></include>
        from test
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        and mode = #{mode}
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectNewRows" resultType="int">
        select count(id)
        from news
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>

    <select id="selectDiscussReplyRows" resultType="int">
        select count(id)
        from comment
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>



    <insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post(<include refid="insertFields"></include>)
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>

    <select id="selectDiscussPostById" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where id = #{id}
    </select>

    <select id="selectDiscussPostByEntityId" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where id = #{entityId}
    </select>

    <select id="selectDiscussPostTitleByEntityId" resultType="String">
        select title
        from discuss_post
        where id = #{entityId}
    </select>


    <update id="updateCommentCount">
        update discuss_post set comment_count = #{commentCount} where id = #{id}
    </update>

    <update id="updateType">
        update discuss_post set type = #{type} where id = #{id}
    </update>

    <update id="updateStatus">
        update discuss_post set status = #{status} where id = #{id}
    </update>

    <update id="updateScore">
        update discuss_post set score = #{score} where id = #{id}
    </update>




</mapper>